@page
@model PrototypeWebApplication.Pages.ShipmentsWarehouse.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse[0].CurrentStock)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Warehouse) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStock)
            </td>

                <td>
                <a asp-page="./Edit" asp-route-id="@item.Warehouseid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Warehouseid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Warehouseid">Delete</a>
            </td> 
        </tr>
}
    </tbody>
</table>


<div class="text-center">
    <a href="/Index" Class="btn btn-dark"> Return Home </a>
</div> 