@page
@model PrototypeWebApplication.Pages.ShipmentCrud.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shipment[0].DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment[0].ShipmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment[0].Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment[0].DestinationLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment[0].OriginLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment[0].Route)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment[0].Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment[0].Warehouse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Shipment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationLocation.Locationid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginLocation.Locationid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Routeid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Vehicleid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.Warehouseid)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Shipmentid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Shipmentid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Shipmentid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<div class="text-center">
    <a href="/Index" Class="btn btn-dark"> Return Home </a>
</div> 
<!-- Using the button format to integrate API on separate folder 
     Need to create new API For Historic Orders by User
-->